<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.punksta.volumecontrol">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- newer appcompat prevents us from using minSdk=15... but we are sure to
        not be using anything newer since this code always had minsdk=15... so we
        might be able to safely ignore it here. Not adding this line generate the build erro:
        uses-sdk:minSdkVersion 15 cannot be smaller than version 21 declared in library [androidx.appcompat:appcompat-resources:1.7.0] /home/runner/.gradle/caches/8.8/transforms/4618e701db60d038a38e2db5629a83e4/transformed/jetified-appcompat-resources-1.7.0/AndroidManifest.xml as the library might be using APIs not available in 15
        -->
    <uses-sdk tools:overrideLibrary="androidx.appcompat.resources" />
    <uses-sdk tools:overrideLibrary="androidx.appcompat" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".SoundApplication"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <service android:name=".SoundService" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="Manages the notification widget"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <activity android:name=".EditProfileActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>
